<div class="container-fluid">
    <div class="row mt-4">
        <div class="col  col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{question.title}}</h5>
                </div>
                <div class="card-body">
                    <p>{{question.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>