<div class="p-3 mb-2 bg-light text-dark col-12">
    <h2>Lista de Perguntas</h2>
</div>
<div class="container mb-3"><a href="/questions/makequestion" class="btn btn-primary">Perguntar</a></div>
<hr>
<div class="container-fluid">
    <div class="row">
        {{#each questions}}
        <div class="col-12 col-lg-3 mb-2">
            <div class="card border-top-custom">
                <div class="card-body pb-3">
                    <h5 class="card-title">{{title}}</h5>
                </div>
                <div class="card-footer bg-transparent border-0 pt-0">
                    <hr class="mt-0">
                    <a href="/questions/{{id}}" class="btn btn-success">Responder</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>